# 🌐 Server Configuration
PORT=3000
NODE_ENV=development

# 🗄️ MongoDB Configuration
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
MONGO_DATABASE=blog-api_db
MONGO_PORT=27017

# 🧾 Logging Configuration
LOG_LEVEL=info

# 🔐 JWT Configuration
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=1w

# ☁️ Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
